$siberianBlue: #1390E5;
$gray: rgba(23, 23, 25, 0.3);
$dark: #272727;
$lightGray: #FAFAFA;
$lightGray1: #F1F1F1;
$red: #FF0000;
$lightRed: #ff5555;
$lightBlue: #C5E4F9;

$transparentGray: rgba(23, 23, 25, 0.2);
$transparentGray1: rgba(0, 0, 0, 0.15);
$transparentGray2: rgba(39, 39, 39, 0.1);

$laptopWdith: 1120px;
$tabletWidth: 768px;
$smallTabletWidth: 554px;
$mobileWidth: 320px;