@import 'assets/scss/__variables.scss';

.layout {
    background-color: #FAFAFA;
    min-height: 100vh;

    &-container {
        max-width: 1040px;
        margin: 0 auto;
        padding: 40px 0;

        @media (max-width: $laptopWdith) {
            padding: 40px;
        }
        @media (max-width: $smallTabletWidth) { 
            padding: 40px 15px;
        }
        @media (max-width: $mobileWidth) { 
            padding: 40px 8px;
        }
    }

    header {
        background: #FFFFFF; 
        border-bottom: 1px solid #F1F1F1;

        .container {
            max-width: 1040px;
            margin: 0 auto;
            display: flex;
            align-items: center;

            @media (max-width: $laptopWdith) {
                padding: 0 40px;
            }
            @media (max-width: $smallTabletWidth) { 
                padding: 0px 15px;
            }
            @media (max-width: $mobileWidth) { 
                padding: 0px 8px;
            }
        }
        .header-logo {
            width: 48px;
            height: 48px;
            margin: 16px 0;
            margin-right: 40px;
            @media (max-width: $smallTabletWidth) { 
                margin-right: 20px;
            }
        }

        ul {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0;
            margin: 0;

            a {
                color: rgba(39, 39, 39, 0.3);
                display: block;
                padding: calc(40px - 11px) 0;
                border-bottom: 1px solid white;
                height: 100%;
                margin-right: 40px;
                font-size: 18px;
                text-decoration-line: none;

                @media (max-width: $smallTabletWidth) { 
                    margin-right: 20px;
                    font-size: 14px;
                }

                &:hover, &.active {
                    color: $siberianBlue;
                    border-bottom: 1px solid $siberianBlue;
                }

                &:last-child {
                    margin-left: auto;
                    color: $siberianBlue;
                }
            }

            li {
                list-style: none;
                text-align: center;
            }
        }
    }
}