@import "assets/scss/_variables";

.search-page {
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    justify-content: center;
    flex-direction: column;

   

    &-form {
        display: flex;
        max-width: 686px;
        position: relative;
        width: 100%;
        transition: all .3s;


        input[type=search] {
            background: white;
            padding: 14px 15px;
            outline: none;
            font-size: 20px;
            line-height: 24px;
            color: $dark;
            transition: width 0.3s;
            width: 100%;
            border: 1px solid $transparentGray;
            border-radius: 10px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            @media (max-width: $smallTabletWidth) { 
                font-size: 20px;
                padding-right: 27px;
            }
        }

        input[type=submit] {
            background: $siberianBlue;
            border-radius: 0px 10px 10px 0px;
            padding: 14px 20px;
            font-size: 20px;
            transition: width 0.3s;
            box-sizing: content-box;
            border: 0;
            color: white;
            cursor: pointer;
            min-width: 110px;

            @media (max-width: $smallTabletWidth) { 
                min-width: unset;
                width: 90px;
                box-sizing: border-box;
            }
        }
    } 

    &-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;


        h1 {
            font-size: 36px;
            margin: 40px 0;
            font-weight: 400;
            transition: all .3s;
        }

        &.has-query {
            align-items: flex-start;

            h1 {
                font-size: 28px;
                margin: 0;
                margin-bottom: 12px;
            }
            
            .search-page-form {
                max-width: unset;
                margin-bottom: 40px;
            }
        }
    }
    &-content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .video-item {
        display: grid;
        grid-gap: 8px;
        width: 100%;
        grid-template-rows: max-content min-content min-content;
        grid-template-areas: 
        "img"
        "title"
        " channel"
        "vcount";
      
        img {
            max-width: 100%;

        }
    }

    &-row {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &.search-page-grid {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            @media (max-width: $tabletWidth) { 
                grid-template-columns: 1fr 1fr 1fr;
            }
            @media (max-width: $smallTabletWidth) { 
                grid-template-columns: 1fr 1fr;
            }
            @media (max-width: $mobileWidth) { 
                grid-template-columns: 1fr;
            }
        }

        &.search-page-list {
            display: grid;
            grid-gap: 32px;
            grid-template-columns: 1fr;

            .video-item {
                display: grid;
                grid-template-areas: 
                    "img title"
                    "img channel"
                    "img vcount";
                grid-template-rows: auto min-content 1fr;
                grid-template-columns: 260px 510px;

                .video-title {
                    font-size: 16px;
                    @media (max-width: $smallTabletWidth) {
                        grid-template-columns: 38vw auto;
                        font-size: 14px;
                    }
                }
                .image-placeholder {
                    grid-area: img;
                }

                @media (max-width: $laptopWdith) { 
                    grid-template-columns: 260px auto;
                }
                @media (max-width: $smallTabletWidth) {
                    grid-template-columns: 38vw auto;
                }
            }
        }
    }
    &-count {
        color: $dark;
        font-size: 16px;
        margin-bottom: 20px;

        @media (max-width: $smallTabletWidth) {
            font-size: 12px;
        }

        span {
            color: $gray;
            margin-left: 15px;

            @media (max-width: $smallTabletWidth) {
                margin-left: 5px;
            }
        }
    }
    &-view {
        display: grid;
        grid-template-columns: 24px 24px;
        grid-gap: 15px;

        svg {
            cursor: pointer;

            g {
                opacity: 0.3;
                transition: opacity 0.3s;
            }

            &:hover g, &.active g {
                opacity: 1;
            }
        }
    }


    .video-title {
        color: $dark; 
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        display: block;
        grid-area: title;
    }
    .video-channel {
        color: $gray;
        font-size: 14px;
        display: block;
        line-height: 16px;
        grid-area: channel;
        @media (max-width: $smallTabletWidth) {
            font-size: 12px;
        }
    }
    .video-vcount {
        color: $gray;
        font-size: 14px;
        display: block;
        line-height: 16px;
        margin-top: -8px;
        grid-area: vcount;
        @media (max-width: $smallTabletWidth) {
            font-size: 12px;
        }
    }

    .favorite {
        position: absolute;
        right: 165px;
        top: 14px;

        @media (max-width: $smallTabletWidth) { 
            right: 97px;
        }


        svg {
            @media (max-width: $smallTabletWidth) { 
                width: 20px;
            }
            &:hover {
                cursor: pointer;
                fill: $lightBlue;
            }
        }
        .tooltip-wrapper {
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            top: 120%;
            visibility: hidden;
        }
        .tooltip {
            padding: 15px;
            border-radius: 10px;
            position: relative;
            background-color: white;
            display: flex;
            width: 220px;
            flex-direction: column;
            box-shadow:  0px 2px 6px $transparentGray1;
            &::after {
                content: "";
                position: absolute;
                left: 50%;
                width: 14px;
                clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
                top: -7px;
                height: 7px;
                background-color: white;
                transform: translateX(-50%) matrix(1, 0, 0, -1, 0, 0);
            }

            span {
                color: $dark;
                font-size: 16px;
                opacity: 0.5; 
                margin-bottom: 15px;
            }

            a {
                color: $siberianBlue;
                font-size: 16px;
                text-decoration-line: none;
            }
        }

        &:hover {
            .tooltip-wrapper {
                visibility: visible;
            }
        }
        
    }
}